@if(member)
{
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="{{member.photoUrl || './user.png'}}" alt="{{member.knownAs}}"
                    class="card-img-top img-thumbnail">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{member.city}}, {{member.country}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{member.age}} years old</p>
                    </div>
                    <div>
                        <strong>Last Active:</strong>
                        <p>{{member.lastActive | date: 'fullDate'}}</p>
                    </div>
                    <div>
                        <strong>Member since:</strong>
                        <p>{{member.created | date: 'fullDate'}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-primary">Like</button>
                        <button class="btn btn-success">Message</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button"
                        role="tab" aria-controls="about" aria-selected="true">About {{member.knownAs}}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="interests-tab" data-bs-toggle="tab" data-bs-target="#interests" type="button"
                        role="tab" aria-controls="interests" aria-selected="false">Interests</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
                        role="tab" aria-controls="photos" aria-selected="false">Photos</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button"
                        role="tab" aria-controls="messages" aria-selected="false">Messages</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <div class="mt-2">
                        <h4>Description</h4>
                        <p>{{member.introduction}}</p>
                        <h4>Looking for</h4>
                        <p>{{member.lookingFor}}</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="interests" role="tabpanel" aria-labelledby="interests-tab">
                    <div class="mt-2">
                        <h4>Interests</h4>
                        <p>{{member.interests}}</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                    <div class="mt-2">
                        <p>Photos will go here</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                    <div class="mt-2">
                        <p>Messages will go here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}